<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/empleados']">CRM Empleados</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" *ngIf="logado">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/empleados']">Empleados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/nuevo-empleado']">Nuevo Empleado</a>
                </li>

                <li class="nav-item">
                    <button class="nav-link" [routerLink]="['/nuevo-empleado']" (click)="logout()">LOGOUT</button>
                </li>

            </ul>
        </div>
    </div>
</nav>